# 시리즈 만들기

In [7]:
import pandas as pd 
s=pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

# 데이터프레임 만들기

In [8]:
scientists=pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13',],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]}
                       )
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [9]:
scientists=pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13',],
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

first_row=scientists.loc['William Gosset']
print(type(first_row))

print(first_row) #Age열에 정수형 리스트를 전달해도 first_row를 출력하면 시리즈의 자료형을 오브젝트로 인식

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [10]:
print(first_row.index)
print(first_row.values)
print(first_row.keys()) #인덱스 속성과 같음.

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' np.int64(61)]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

# 시리즈의 mean, min, max, std 메서드 사용하기

In [11]:
ages=scientists['Age']
print(ages)

print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [12]:
scientists= pd.read_csv('../data/scientists.csv')

ages=scientists['Age']
print(ages.max())

print(ages.mean())

print(ages[ages>ages.mean()])#평균 나이보다 나이가 많은 사람의 데이터를 추출

print(ages>ages.mean())

print(type(ages>ages.mean()))

manual_bool_values=[True,True, False, False, True,True,False, True] #원하는 자료만 출력
print(ages[manual_bool_values])

90
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [13]:
print(ages+ages) #벡터로 더하기(벡터:시리즈처럼 여러 개의 값을 가진 데이터, 스칼라:단순 크기를 나타내는 데이터)
print(ages*ages) #벡터로 곱하기
print(ages+100) #벡터에 스칼라 연산
print(ages*2) #벡터에 스칼라 연산

print(pd.Series([1,100]))
print(ages+pd.Series([1,100])) #서로 다른 벡터를 연산(시리즈와 시리즈 연산)

rev_ages= ages.sort_index(ascending=False) #인덱스 역순으로 정리함.
print(rev_ages)

print(ages*2)
print(ages+rev_ages) #벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행. 즉, 두개의 결과가 동일.

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [16]:
print(scientists[scientists['Age']>scientists['Age'].mean()])
print(scientists.iloc[[0, 1, 3]])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

# 데이터프레임과 브로드캐스팅

In [53]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [61]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

born_datetime=pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime=pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

scientists['born_dt'], scientists['died_dt']=(born_datetime, died_datetime)
print(scientists.head())

scientists['age-days_dt']=(scientists['died_dt']-scientists['born_dt'])
print(scientists)

object
object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age-days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [66]:
print(scientists['Age'])

import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    61
1    41
2    66
3    56
4    37
5    45
6    77
7    90
Name: Age, dtype: int64
0    56
1    37
2    77
3    90
4    66
5    45
6    61
7    41
Name: Age, dtype: int64

C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\emeli\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [70]:
print(scientists.columns)

scientists_dropped=scientists.drop(['Age'], axis=1) #drop매서드 이용해서 열 삭제
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age-days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age-days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [73]:
names= scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

scientists.to_pickle('../output/scientists_df.pickle')

scientists_names_from_pickle=pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

scientists_from_pickle=pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   56             Chemist
1        William Gosset  1876-06-13  1937-10-16   37        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   77               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   66           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   61  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt age-days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 불러오기

In [75]:
names.to_csv('../output/scientists_names_series.csv') #csv 데이터를 쉼표로 구분해 저장한 파일
scientists.to_csv('../output/scientists_df.tsv',sep='\t') #tsv 데이터를 탭으로 구분해 저장한 파일